In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
csv_path= "resources/Attendance.csv"
stad_attend= pd.read_csv(csv_path)
stad_attend.head()

,TeamID,Attendance_2013,Avg_Attendance_2013,Attendance_2014,Avg_Attendance_2014,Attendance_2015,Avg_Attendance_2015
0,ARI,2134895,26357,2073730,25602,2080145,25681
1,ATL,2548679,31465,2354305,29065,2001392,24709
2,BAL,2357561,29106,2464473,30426,2281202,29246
3,BOS,2833333,34979,2956089,36495,2880694,35564
4,CHC,2642682,32626,2652113,32742,2919122,36039